# This is a reusable workflow for performing downstream merges following a hotfix applied to either the "qa" or "master" branch.
#  - you must use "secrets: inherit" when calling this workflow, to ensure that the necessary secrets are available

name: "Merge hotfix to downstream branches"
description: "Merges a hotfix that was applied to the \"qa\" or \"master\" to the appropriate downstream branches (i.e., \"dev\" and/or \"qa\")"

on:
  workflow_call:
    inputs:
      source_branch:
        description: 'The source branch where the hotfix was applied (must be "qa" or "master")'
        required: true
        type: string

permissions:
  contents: write

jobs:
  
  merge-down:
    runs-on: ubuntu-latest
    
    steps:
      - name: Check for invalid target branch
        if: ${{ inputs.source_branch != 'qa' && inputs.source_branch != 'master' }}
        run: |
          echo "::error title=Invalid source branch::The source branch '${{ inputs.source_branch }}' is invalid for a hotfix (downstream) merge. The source branch must be either 'qa' or 'master'."
          exit 1

      - name: Get app token
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.TEST_MERGE_APP_ID }}
          private-key: ${{ secrets.TEST_MERGE_APP_PRIVATE_KEY }}

      - uses: actions/checkout@v4.2.2
        with:
          ref: ${{ inputs.source_branch }}
          token: ${{ steps.app-token.outputs.token }}
          fetch-tags: false
      
      - name: Merge to qa
        if: ${{ inputs.source_branch == 'master' }}
        run: |
          # git fetch origin master:master --no-tags
          git fetch origin qa:qa --no-tags
          git switch qa
          git merge master --no-edit
          git push

      - name: Merge to dev
        run: |
          git fetch origin dev:dev --no-tags
          git switch dev
          git merge qa --no-edit
          git push
